.page-section
{
    /* margin-top: 20px; */
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;

    
    padding-top: 90px;
    padding-bottom: 20px;
    background-color: rgb(144, 144, 144);
    color: white;
}


.page-sectionn
{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    background-color: rgb(144, 144, 144);
    color: white;
}
