<div class="dash-page ">
    <!-- header -->
    <div class="header justify-content-center">
        <h3><a routerLink="/dashboard"><img src="/assets/pictures/ICEP-Logo.png" alt="Logo"
                    style="width:80px;"></a>Welcome To ICEP Dashboard</h3>
    </div>


     <!-- Sidebar -->
  <div class="sidenav ">
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="router-link-active"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
    <a class="nav-link" routerLink="/dashboard/notice-board" routerLinkActive="router-link-active"><i class="fa fa-flag" aria-hidden="true"></i> Notice Board</a>
    <a class="nav-link" routerLink="/dashboard/report" routerLinkActive="router-link-active"><i class="fa fa-flag-checkered" aria-hidden="true"></i> View Reports</a>
    <a class="nav-link" routerLink="/dashboard/regstud" routerLinkActive="router-link-active"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Registered Students</a>
    <!-- <a class="nav-link" routerLink="/application-page"  routerLinkActive="router-link-active" >Apply</a>  -->


    </div>

    <!-- main -->
    <!-- <div class="main">


        <div class="card text-center">
            <div class="card-header ">

                <h3>Manage Notice Board</h3>

                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/dashboard/notice-board/view-notice" >View</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="/dashboard/notice-board/update-notice">Update</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="/dashboard/notice-board/edit-notice">Edit</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link " routerLink="/dashboard/notice-board/delete-notice" >Delete</a>
                    </li>
                </ul>
            </div>

            <div class="card-body">

               
              
            </div>
        </div>

    </div> -->

    

</div>