<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login">
    Launch demo modal
</button>
    <!-- Modal -->
    <!-- lunch button uses id as referrence -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="icepRegisterUser"
        aria-hidden="true">
        <div class="modal-dialog modal-ls" role="document">
            <div class="modal-content">
                <div class="modal-header text-light justify-content-center">
                    <h5 class="modal-title ">ICEP Login</h5>
                </div>
                <form>
                    <div class="modal-body">
    
                        <div class="form-group">
                            <label>Email address</label>
                            <input type="email" formControlName="email" required class="form-control" aria-describedby="emailHelp"
                                placeholder="Enter your Email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" formControlName="pword" required class="form-control"
                                        placeholder="Enter Secret Password">
                                </div>
                            </div>
                           
                        </div>
    
    
                       
                    </div>
                    
                        <div class="modal-footer justify-content-center">
                            <button type="submit" class="btn" >Login</button> 
                            <a href="application">Apply For ICEP</a> 
                        </div>           
                </form>
            </div>
        </div>
    </div>
    
<!-- Modal end -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>