<div class="dash-page">

  <nav class="navbar fixed-top navbar-danger bg-danger">
    <ul class="navbar ">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="router-link-active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-login-page" routerLinkActive="router-link-active">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login/login" routerLinkActive="router-link-active">Login</a>
      </li>
    </ul>
    <img class="navbar-brand" src="/assets/pictures/ICEP-Logo.png" alt="" width="70" height="70">
  </nav>


  <div class="row">
    <div class="card bg-danger">
      <form class="form-signin">
        <h6 >Administrator Dashboard Login</h6>
        <div class="form-label-group">
          <label for="inputEmail"> <i class="fa fa-user icon"></i> ID</label>
         <input type="email" id="inputEmail" class="form-control"
            placeholder="admin-system-#id" required autofocus>
        </div>
  
        <div class="form-label-group">
          <label for="inputPassword"><i class="fa fa-user icon"></i> Password </label>
          <input type="password" id="inputPassword" class="form-control"
            placeholder="*******" required>
        </div>
        <br>
        <button class="btn btn-inline-danger btn-danger btn-block" type="submit" (click)="gotoDash()">Sign in</button>
        <!-- <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2020</p> -->
      </form>
    </div>
  </div>







  <br>
  <hr class="divider mx-8">
  <br>
  <br>
  <app-footer></app-footer>
</div>
