<div class="row-3 justify-content-center">
    <img src="/assets/pictures/Icep_Team/IMG_7596-s.jpg" width="10%" height="10%" alt="Avatar">
    <img src="/assets/pictures/Icep_Team/IMG_7484-cc.jpg" width="10%" height="10%" alt="Avatar">
    <img src="/assets/pictures/Icep_Team/IMG_7357-g.jpg"  width="10%" height="10%" alt="Avatar">
    <img src="/assets/pictures/Icep_Team/IMG_7473-c.jpg"  width="10%" height="10%" alt="Avatar">
    <img src="/assets/pictures/Icep_Team/IMG_7543-n.jpg"  width="10%" height="10%" alt="Avatar">
    <img src="/assets/pictures/Icep_Team/IMG_7466-k.jpg"  width="10%" height="10%" alt="Avatar">
    <img src="/assets/pictures/Icep_Team/IMG_7466-k.jpg"  width="10%" height="10%" alt="Avatar">
  </div>