/* Leaders */
.team
{
  margin: 20px 0 20px 0;
  padding: 20px 0 20px 0;
  background-color: rgb(144, 144, 144);
  color: white;
}

 
  /* End Leaders */

  .row
{
  display: flex;
  justify-content: center;
  
}
  
  body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 185px;
  height: 185px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  /* transform: scale(1.1); */
  /* transition: all .2s ease-in-out; */
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color:rgb(95, 94, 94);
  color: white;
  transform: rotateY(180deg);
}