 <!-- ======= Team Section ======= -->
 <section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Team</h2>
      <h3>Meet Our <span>Team</span></h3>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <img src="./../../assets/pictures/team/team-1.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Cynthia Maseko</h4>
            <span>Administrator</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="./../../assets/pictures/team/team-2.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Petrus Godi</h4>
            <span>Project Manager</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="member-img">
            <img src="./../../assets/pictures/team/team-3.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Calvin Mogale</h4>
            <span>Scrum Master</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <div class="member-img">
            <img src="./../../assets/pictures/team/team-4.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Kabelo Malatji</h4>
            <span>Developer</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <div class="member-img">
            <img src="./../../assets/pictures/team/team-5.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Mpho Nyambeni</h4>
            <span>Developer</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <div class="member-img">
            <img src="./../../assets/pictures/team/team-6.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Matshidiso Jabane</h4>
            <span>Developer</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <div class="member-img">
            <img src="./../../assets/pictures/team/team-7.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Kgomotso Dilebo</h4>
            <span>Multimedia Developer</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Team Section -->
