<div class="dash-page">
    <!-- Sidebar -->

    <div class="row">
        <div class="col-2">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                    href="#list-home" role="tab" aria-controls="home">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i> Home</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                    href="#list-profile" role="tab" aria-controls="profile">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i> Profile</a>
                <a class="list-group-item list-group-item-action" id="list-report-list" data-toggle="list"
                    href="#list-report" role="tab" aria-controls="report">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i> Report</a>
                <a class="list-group-item list-group-item-action " id="list-settings-list" data-toggle="list"
                    href="#list-settings" role="tab" aria-controls="settings">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i> Notice Board</a>
            </div>
        </div>

        <div class="col-10">
            <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <app-main></app-main>
                </div>

                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">

                    <div class="right-tab">

                        <div class="card">
                            <h5 class="card-header">User Profile: </h5>
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                              <label for="first_name">First Name: Mo</label><br>
                              <label for="last_name">Last Name: mamamamadi</label><br>
                              <label for="phone_no">Phone Number: 014 151 4848</label><br>
                              <label for="email">E-mail: mail@mail.com</label><br>
                              <label for="Password">Active Password: ***********</label><br>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="list-report" role="tabpanel" aria-labelledby="list-report-list">

                    <div class="right-tab">
                        <!-- report modal -->



                        <div class="card">
                            <h5 class="card-header">Write Your Report here...</h5>
                            <div class="card-body">
                                <h5 class="card-title">Reminder</h5>
                                <p class="card-text">It's import to write your daily log, Help the development team and the lead team review your work.</p>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModal">
                                    Write Your Report
                                </button>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header bg-dark">
                                        <h5 class="modal-title text-light" id="exampleModalLabel">Daily Report</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <form>
                                            <div class="form-row ">


                                                <div class="col-sm-6 my-1">
                                                    <label class="sr-only"
                                                        for="inlineFormInputGroupUsername">Username</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">std Number:</div>
                                                        </div>
                                                        <input type="text" class="form-control"
                                                            id="inlineFormInputGroupUsername" placeholder="Username">
                                                    </div>
                                                </div>



                                                <div class="col-sm-10 my-1">
                                                    <label class="sr-only"
                                                        for="inlineFormInputGroupPeport">Report</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">std Report: </div>
                                                        </div>
                                                        <textarea class="form-control" row="10" name="report"
                                                            id="report" id="inlineFormInputGroupPeport"
                                                            placeholder="Daily Task report due...">

                                              </textarea>
                                                    </div>
                                                </div>



                                            </div>

                                            <div class="modal-footer">
                                                <div class="col-auto my-1">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- report modal -->
                    </div>

                </div>

                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                    <div class="right-tab">
                        <app-ad-posts></app-ad-posts>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>