<!-- Modal -->
<!-- lunch button uses id as referrence -->
<div class="modal fade" id="Registration" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-ls" role="document">
    <div class="modal-content">
      <div class="modal-header bg-secondary text-dark justify-content-center">
        <h5 class="modal-title"> Registration  ICEP</h5>
      </div>

      <form>
        <div class="modal-body">

          <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" aria-describedby="email" placeholder="Enter your Email"
              required/>
          </div>

          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" aria-describedby="password" placeholder="Enter your password"
              required/>
          </div>

          <div class="form-group">
            <label>Re-type Password</label>
            <input type="password" class="form-control" aria-describedby="confrim password" placeholder="Confrim your password"
              required/>
          </div>

        </div>

        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-primary">Register</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal end -->