<!-- Modal -->
<!-- lunch button uses id as referrence -->
<div class="modal fade" id="Registration" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-ls" role="document">
    <div class="modal-content">
      <div class="modal-header bg-secondary text-light justify-content-center">
        <h5 class="modal-title">
          <svg class="bi bi-card-checklist" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
            <path fill-rule="evenodd" d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
          </svg>
          Registration  ICEP</h5>
      </div>

      <form >
        <div class="modal-body">

          <div class="form-group">
            <label>Email address</label>
            <input type="email" formControlName="username" class="form-control" aria-describedby="email" placeholder="Enter your Email"
              required>
          </div>

          <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control" aria-describedby="password" placeholder="Enter your password"
              required>
          </div>

          <!-- <div class="form-group">
            <label>Re-type Password</label>
            <input type="password" formControlName="password" class="form-control" aria-describedby="confrim password" placeholder="Confrim your password"
              required/>
          </div> -->

        </div>

        <div class="modal-footer justify-content-center">
          <button type="submit" class="btn btn-primary">Register</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </form>
    </div>
  </div>
</div>

<!-- Modal end -->