
<!--
<nav class="navbar navbar-expand-md navbar-dark" >

  -- navbar brand --
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/pictures/ICEP-Logo.png" alt="Logo" style="width:50px;height: 60px;">
  </a>

  !-- Toggler/collapsibe Button --
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  !-- Navbar links --
  <div class="collapse navbar-collapse " id="collapsibleNavbar" >

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home-page"  routerLinkActive="active" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-page" routerLinkActive="active" >About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/services-page" routerLinkActive="active" >Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects-page" routerLinkActive="active" >Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contacts-page" routerLinkActive="active" >Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link log" routerLink="/login/login" >login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link log" routerLink="/login-page" >Sign-In</a>
      </li>
    </ul>

  </div>

</nav>
-->


<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
  <div class="container d-flex">
    <div class="contact-info mr-auto">
      <p> Stay home, Stay safe! Visit <a routerLink="https://sacoronavirus.co.za/" style="color:white; text-align: center" target="_blank"> sacoronavirus.co.za </a> for official COVID-19 information. </p>
    </div>
    <div class="social-links">
      <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
      <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
      <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
      <a href="#" class="skype"><i class="icofont-skype"></i></a>
      <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
    </div>
  </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo mr-auto"><a href="index.html">ICEP</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>-->

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="index.html">Home</a></li>
        <li><a routerLink="/about-page">About</a></li>
        <li><a routerLink="/services-page">Services</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#team">Team</a></li>
        <li><a routerLink="/contacts-page">Contact</a></li>

      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->