a
{
    color: honeydew;
}
a:hover
{
    color: black
}

.navbar
{
  flex-direction: row;
  margin: 0px 0px 10px 0px;
  background-color: rgb(163, 160, 160);
  top: 0;
  overflow: hidden; 
  z-index: 1;
  background-position-y: top;
  position: fixed;
 justify-items: flex-end;
 width: 96.6vw;
}
.collapse
{
  justify-content: flex-end;
}

.nav-link.log
{
  color: black;
}

.nav-link a:active
{
    color: white;
}

