<nav class="navbar">

  <a class="navbar-logo " href="#">
    Welcome To ICEP<img src="/assets/pictures/ICEP-Logo.png" alt="Logo" style="width:40px;">
  </a>

  <ul class="nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/home-page"  routerLinkActive="router-link-active" >Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about-page">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/services-page">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contacts-page">Contacts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" routerLink="/login-page">Login</a>
    </li>
  </ul>
  
</nav>