a
{
    color: honeydew;
}
a:hover
{
    color: black
}

.navbar
{
  margin: 0px 0px 10px 0px;
  background-color: rgb(163, 160, 160);
  /* top: 0; */
  /* overflow: hidden;  */
  /* z-index: 0; */
  /* position: fixed; */
}

.nav-link.log
{
  color: black;
}

.nav-link a:active
{
    color: white;
}

