<nav class="navbar">

  <a class="navbar-logo " href="/">
    <h2><img src="/assets/pictures/ICEP-Logo.png" alt="Logo" style="width:40px;"> Welcome To ICEP</h2>
  </a>

  <ul class="nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/home-page"  routerLinkActive="router-link-active" >Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about-page" routerLinkActive="router-link-active" >About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/services-page" routerLinkActive="router-link-active" >Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/projects-page" routerLinkActive="router-link-active" >Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contacts-page" routerLinkActive="router-link-active" >Contacts</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link log" routerLink="/login-page" routerLinkActive="router-link-active">Sign-In</a>
    </li>
  </ul>
  
</nav>