.dash-page
{
  background-color: silver;
  height: 100vh;
  width: 100;
  font-family: cursive;
}
h1
{
    text-align: center;
}

h6
{
    text-align: center;
    color: black;
}
.mx-auto
{
    image-orientation: unset;
}
nav
{
  display: flex;
  justify-content: center;
}
nav a
{
  color: black;
}
label
{
  color: black;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
form
{
  margin: 0px 465px;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}
