<div class="dash-page">
    <h1><img src="/assets/pictures/ICEP-Logo.png" alt="Logo" style="width:80px;">  Welcome To ICEP DashBoard</h1>
    <br>
    <nav>    
        <a class="nav-link" routerLink="/login-page"  routerLinkActive="router-link-active" >Login</a>
        <a class="nav-link" routerLink="/regiter-page"  routerLinkActive="router-link-active" >Register</a>
        <a class="nav-link" routerLink="/application-page"  routerLinkActive="router-link-active" >Apply</a>
    </nav>
</div>
<app-footer></app-footer>