.e404
{
    padding-top: 250px;
    text-align: center;
    color: white;
    /* background-color: white; */
    background: url("../../assets/pictures/icep-bg.jpg") top left;
    background-size: contain;
    position: relative;
   height: 100vh;
}