<section class="aw">

    <!-- <marquee behavior="slide"  class="mar" direction="center" scrollamount="55"><h4>"The best way to predict the future is to create it"</h4></marquee>
    <marquee behavior="slide" class="mar2" direction="left" scrollamount="55" size="40%" color="">Commissioner Astrue</marquee> -->

    <div data-gutter="gutter-default"
        class="themify_builder_row themify_builder_6_row module_row module_row_1 module_row_6-1 clearfix gutter-default col_align_top tb_section-about"
        data-equal-column-height="" data-column-alignment="col_align_top" data-anchor="about">



        <div class="row_inner_wrapper">
            <div class="row_inner">
                <div class="col-full first tb-column  tb_6_column module_column_0 module_column_6-1-0 module_column">
                    <div class="tb-column-inner">
                        <div id="text-6-1-0-1"
                            class="module module-text text-6-1-0-1   wow bounceInRight animation_effect_delay_0.8">

                            <div id="text-33-1-0-1" class="module module-text text-33-1-0-1   ">
                                <p>“The best way to predict the future is to create it”</p>
                                <h6>Commissioner Astrue</h6>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


</section>