.row
{
    /* display: flex; */
    margin:20px 0 20px 0;
    padding:20px 0 20px 0;
    background-color: rgb(144, 144, 144);
    color: white;
    text-align: center;
    display: list-item;
}


h4 {
    -moz-animation-duration: 5s;
    -webkit-animation-duration: 5s;
    -moz-animation-name: slidein-left;
    -webkit-animation-name: slidein-left;
  }
  
  @-moz-keyframes slidein-left {
    from {
      margin-left: 0%;
      width: 300%
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
  @-webkit-keyframes  slidein-left {
    from {
      margin-left: 28%;
      width: 300%
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
  h6 {
    -moz-animation-duration: 5s;
    -webkit-animation-duration: 5s;
    -moz-animation-name: slidein-right;
    -webkit-animation-name: slidein-right;
    font-family: "Brush Script MT", cursive; font-size: 26px;

  }
  
  @-moz-keyframes slidein-right {
    from {
      margin-right: 0%;
      width: 300%
    }
    to {
      margin-right: 0%;
      width: 100%;
    }
  }
  
  @-webkit-keyframes slidein-right {
    from {
      margin-right: 0%;
      width: 300%
    }
    to {
      margin-right: 0%;
      width: 100%;
    }
  }