<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About</h2>
        <h3>  <span> More About Us</span></h3>
        <p></p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
          <img src="../../assets/pictures/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <h3>Informatics Community Engagement Project.</h3>
      
          <ul>
            <li>
              <i class="fas fa-campground"></i>
              <div>
                <p> ICEP is a community engagement programme initiated by the informatics department of TUT. initial was engendered
                  to, amongst other objectives, assist students,who’ve completed all of their theoretical modules, obtain an
                  internship. The internship exposes said students toindustry experiences and operations.</p>
              </div>
            </li>
            <li>
              <i class="fas fa-chalkboard-teacher"></i>
              <div>
                <p>There, they are both educated apropos of the latest in industry technologies, tools, methodologies, frameworks,
                  and systems; but also,in the internalisation and application of technical, interpersonal, and conceptual
                  knowledge.</p>
              </div>
            </li>
          </ul>
          <p class="font-italic">
            ICEP is basically a platform that allow students whom just completed their final year modules from software 
            development,business analysts and multimedia specialisation but are not able to find intenships from outside 
            companies since well the number of IT companies is indirectly proportional to the number of students,then icep 
            helps those students to gain industrial exposure to the world of technology. 
          </p>
        </div>
      </div>

    </div>
