.page
{
    /* font-family: cursive;
    font-size: medium; */
    background-color: white;
}


.inforX
{
    text-align: center;
    margin: 0 0 20px 0;
    padding: 150px 0 20px 0;
    background-color: whitesmoke;
    color: black;
}

.infor
{
    margin: 20px 0 20px 0;
    background-color: whitesmoke;
}

.card
{
    margin:  20px 20px 20px 20px;
    height: auto;
    background-color:#106eea;
    color: white;
}

.card:hover
{
    /* background-color: whitesmoke; */
    color: white;
    transition: transform 0.9s;
    transform: scale(1.1);
}