


.inforX
{
    text-align: center;
    margin: 0 0 20px 0;
    padding: 110px 0 20px 0;
    background-color: rgb(144, 144, 144);
    color: white;
}

.infor
{
    margin: 20px 0 20px 0;
    background-color: rgb(144, 144, 144);
}

.card
{
    margin:  20px 20px 20px 20px;
    height: auto;
    background-color:rgb(95, 94, 94);
    color: white;
}

.card:hover
{
    /* background-color: rgb(144, 144, 144);
    color: black; */
    transition: transform 0.9s;
    transform: scale(1.2);
}