<app-notice-board></app-notice-board>

<!-- main -->
<div class="main">


    <div class="card text-center">
        <div class="card-header ">

            <!-- <h3>Manage Notice Board</h3> -->

            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active btn btn-success" routerLink="/dashboard/notice-board/create-notice">Create Notice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-info" routerLink="/dashboard/notice-board/view-notice">View Notice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-warning " routerLink="/dashboard/notice-board/update-notice">Update Notice</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link btn btn-danger" routerLink="/dashboard/notice-board/delete-notice">Delete Notice</a>
                </li>
            </ul>
        </div>

        <div class="card-body">

            <!-- The Add notice will be added here -->
            <div class="notice bg-secondary ">

                <div class="row scroll">

                    <ul>
                        <li>

                            <br>

                                <div class="card mb-3" style="max-width: 500px;">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img src="/assets/pictures/ICEP LOGO.jpg" class="card-img" alt="">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Administrator Notice</h5>
                                                <p class="card-text">We Do Not Pay, in other words - no pay month end.
                                                    dead,
                                                    Gone, Finished - Stupid</p>
                                                <p class="card-text"><small class="text-muted">Last updated 3 mins
                                                        ago</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-danger">Delete Card</button>
                                </div>
                                <br>

                                <div class="card mb-3" style="max-width: 500px;">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img src="/assets/pictures/ICEP LOGO.jpg" class="card-img" alt="">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Administrator Notice</h5>
                                                <p class="card-text">We Do Not Pay, in other words - no pay month end.
                                                    dead,
                                                    Gone, Finished - Stupid</p>
                                                <p class="card-text"><small class="text-muted">Last updated 3 mins
                                                        ago</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-danger">Delete Card</button>
                                </div>
                                <br>

                        </li>

                        
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>