<div class="row-sec">
    <div class="col">
        <br>
        <a href="about">
            <h3>About Us</h3>
        </a>
        <br>
        <p>
            ICEP is a community engagement <br>
            programme initiated by the <br>
            informatics department of TUT<br>
            Said initial was engendered to, amongst <br>
            other objectives, assist students, who’ve<br>
            completed all of their theoretical<br>
            modules, obtain an internship.<br>
            The internship exposes<br>
            said students to industry <br>
            experiences and operations.
        </p>
    </div>
    <div class="col">
        <br>
        <a href="services">
            <h3>Services</h3>
        </a>
        <br>
        <p>
            Web Service<br>
            Mobile Service<br>
            Project management.
        </p>
    </div>
    <div class="col">
        <br>
        <a href="projects">
            <h3>Projects</h3>
        </a>

        <br>
        <p>
            Sphatlo app<br>
            ToolBox<br>
            E - Voting<br>
            Khuluma nathi<br>
            Van Tuka<br>
            Mentorship system

        </p>
    </div>
</div>