<div class="gallery">
  <h2 style="text-align: center;">
    <svg class="bi bi-camera" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
      xmlns="http://www.w3.org/2000/svg">
      <path d="M9 5C7.343 5 5 6.343 5 8a4 4 0 0 1 4-4v1z" />
      <path fill-rule="evenodd"
        d="M14.333 3h-2.015A5.97 5.97 0 0 0 9 2a5.972 5.972 0 0 0-3.318 1H1.667C.747 3 0 3.746 0 4.667v6.666C0 12.253.746 13 1.667 13h4.015c.95.632 2.091 1 3.318 1a5.973 5.973 0 0 0 3.318-1h2.015c.92 0 1.667-.746 1.667-1.667V4.667C16 3.747 15.254 3 14.333 3zM1.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zM9 13A5 5 0 1 0 9 3a5 5 0 0 0 0 10z" />
      <path d="M2 3a1 1 0 0 1 1-1h1a1 1 0 0 1 0 2H3a1 1 0 0 1-1-1z" />
    </svg>
    ICEP GALLERY</h2>
  <hr class="divider mx-4">
  <br>
  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-2 col-md-12 mb-4">

      <!--Modal: Name-->
      <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

          <!--Content-->
          <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <!-- <iframe class="embed-responsive-item" src="/assets/pictures/groups/1.jpg"
                              allowfullscreen></iframe> -->
                <img class="embed-responsive-item" src="/assets/pictures/groups/00.JPG" alt="" allowfullscreen>
              </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                data-dismiss="modal">Close</button>

            </div>

          </div>
          <!--/.Content-->

        </div>
      </div>
      <!--Modal: Name-->

      <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/00.JPG" alt="video" data-toggle="modal"
          data-target="#modal1"></a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Modal: Name-->
      <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

          <!--Content-->
          <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <img class="embed-responsive-item" src="/assets/pictures/groups/s1.JPG" alt="" allowfullscreen>
              </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                data-dismiss="modal">Close</button>

            </div>

          </div>
          <!--/.Content-->

        </div>
      </div>
      <!--Modal: Name-->

      <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/s1.JPG" alt="video" data-toggle="modal"
          data-target="#modal2"></a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Modal: Name-->
      <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

          <!--Content-->
          <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <img class="embed-responsive-item" src="/assets/pictures/groups/s2.JPG" alt="" allowfullscreen>
              </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                data-dismiss="modal">Close</button>

            </div>

          </div>
          <!--/.Content-->

        </div>
      </div>
      <!--Modal: Name-->

      <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/s2.JPG" alt="video" data-toggle="modal"
          data-target="#modal3"></a>

    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Modal: Name-->
      <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

          <!--Content-->
          <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <img class="embed-responsive-item" src="/assets/pictures/groups/s3.JPG" alt="" allowfullscreen>
              </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                data-dismiss="modal">Close</button>

            </div>

          </div>
          <!--/.Content-->

        </div>
      </div>
      <!--Modal: Name-->

      <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/s3.JPG" alt="video" data-toggle="modal"
          data-target="#modal4"></a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Modal: Name-->
      <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

          <!--Content-->
          <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <img class="embed-responsive-item" src="/assets/pictures/groups/s4.JPG" alt="" allowfullscreen>
              </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                data-dismiss="modal">Close</button>

            </div>

          </div>
          <!--/.Content-->

        </div>
      </div>
      <!--Modal: Name-->

      <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/s4.JPG" alt="video" data-toggle="modal"
          data-target="#modal5"></a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Modal: Name-->
      <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

          <!--Content-->
          <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <img class="embed-responsive-item" src="/assets/pictures/groups/s4.JPG" alt="" allowfullscreen>
              </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                data-dismiss="modal">Close</button>

            </div>

          </div>
          <!--/.Content-->

        </div>
      </div>
      <!--Modal: Name-->

      <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/3.JPG" alt="video" data-toggle="modal"
          data-target="#modal6"></a>

    </div>
    <!-- Grid column -->



  </div>
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-2 col-md-12 mb-4">

      <!--Modal: Name-->
      <div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

          <!--Content-->
          <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <!-- <iframe class="embed-responsive-item" src="/assets/pictures/groups/1.jpg"
                              allowfullscreen></iframe> -->
                <img class="embed-responsive-item" src="/assets/pictures/groups/01.JPG" alt="" allowfullscreen>
              </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                data-dismiss="modal">Close</button>

            </div>

          </div>
          <!--/.Content-->

        </div>
      </div>
      <!--Modal: Name-->

      <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/01.JPG" alt="video" data-toggle="modal"
          data-target="#modal7"></a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Modal: Name-->
      <div class="modal fade" id="modal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

          <!--Content-->
          <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <img class="embed-responsive-item" src="/assets/pictures/groups/2.JPG" alt="" allowfullscreen>
              </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                data-dismiss="modal">Close</button>

            </div>

          </div>
          <!--/.Content-->

        </div>
      </div>
      <!--Modal: Name-->

      <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/2.JPG" alt="video" data-toggle="modal"
          data-target="#modal8"></a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Modal: Name-->
      <div class="modal fade" id="modal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

          <!--Content-->
          <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <img class="embed-responsive-item" src="/assets/pictures/groups/3.JPG" alt="" allowfullscreen>
              </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                data-dismiss="modal">Close</button>

            </div>

          </div>
          <!--/.Content-->

        </div>
      </div>
      <!--Modal: Name-->

      <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/3.JPG" alt="video" data-toggle="modal"
          data-target="#modal9"></a>

    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Modal: Name-->
      <div class="modal fade" id="modal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

          <!--Content-->
          <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <img class="embed-responsive-item" src="/assets/pictures/groups/3.JPG" alt="" allowfullscreen>
              </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                data-dismiss="modal">Close</button>

            </div>

          </div>
          <!--/.Content-->

        </div>
      </div>
      <!--Modal: Name-->

      <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/3.JPG" alt="video" data-toggle="modal"
          data-target="#modal10"></a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Modal: Name-->
      <div class="modal fade" id="modal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

          <!--Content-->
          <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <img class="embed-responsive-item" src="/assets/pictures/groups/3.JPG" alt="" allowfullscreen>
              </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                data-dismiss="modal">Close</button>

            </div>

          </div>
          <!--/.Content-->

        </div>
      </div>
      <!--Modal: Name-->

      <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/3.JPG" alt="video" data-toggle="modal"
          data-target="#modal11"></a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Modal: Name-->
      <div class="modal fade" id="modal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

          <!--Content-->
          <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <img class="embed-responsive-item" src="/assets/pictures/groups/3.JPG" alt="" allowfullscreen>
              </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                data-dismiss="modal">Close</button>

            </div>

          </div>
          <!--/.Content-->

        </div>
      </div>
      <!--Modal: Name-->

      <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/3.JPG" alt="video" data-toggle="modal"
          data-target="#modal12"></a>

    </div>
    <!-- Grid column -->



  </div>
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-2 col-md-12 mb-4">

      <!--Modal: Name-->
      <div class="modal fade" id="modal13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

          <!--Content-->
          <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <!-- <iframe class="embed-responsive-item" src="/assets/pictures/groups/1.jpg"
                              allowfullscreen></iframe> -->
                <img class="embed-responsive-item" src="/assets/pictures/groups/02.JPG" alt="" allowfullscreen>
              </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                data-dismiss="modal">Close</button>

            </div>

          </div>
          <!--/.Content-->

        </div>
      </div>
      <!--Modal: Name-->

      <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/02.JPG" alt="video" data-toggle="modal"
          data-target="#modal13"></a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Modal: Name-->
      <div class="modal fade" id="modal14" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

          <!--Content-->
          <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <img class="embed-responsive-item" src="/assets/pictures/groups/11.JPG" alt="" allowfullscreen>
              </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                data-dismiss="modal">Close</button>

            </div>

          </div>
          <!--/.Content-->

        </div>
      </div>
      <!--Modal: Name-->

      <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/11.JPG" alt="video" data-toggle="modal"
          data-target="#modal14"></a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Modal: Name-->
      <div class="modal fade" id="modal15" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

          <!--Content-->
          <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <img class="embed-responsive-item" src="/assets/pictures/groups/s1.JPG" alt="" allowfullscreen>
              </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                data-dismiss="modal">Close</button>

            </div>

          </div>
          <!--/.Content-->

        </div>
      </div>
      <!--Modal: Name-->

      <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/s1.JPG" alt="video" data-toggle="modal"
          data-target="#modal15"></a>

    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Modal: Name-->
      <div class="modal fade" id="modal16" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

          <!--Content-->
          <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <img class="embed-responsive-item" src="/assets/pictures/groups/s2.JPG" alt="" allowfullscreen>
              </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                data-dismiss="modal">Close</button>

            </div>

          </div>
          <!--/.Content-->

        </div>
      </div>
      <!--Modal: Name-->

      <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/s2.JPG" alt="video" data-toggle="modal"
          data-target="#modal16"></a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Modal: Name-->
      <div class="modal fade" id="modal17" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

          <!--Content-->
          <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <img class="embed-responsive-item" src="/assets/pictures/groups/s3.JPG" alt="" allowfullscreen>
              </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                data-dismiss="modal">Close</button>

            </div>

          </div>
          <!--/.Content-->

        </div>
      </div>
      <!--Modal: Name-->

      <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/s3.JPG" alt="video" data-toggle="modal"
          data-target="#modal17"></a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Modal: Name-->
      <div class="modal fade" id="modal18" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

          <!--Content-->
          <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <img class="embed-responsive-item" src="/assets/pictures/groups/3.JPG" alt="" allowfullscreen>
              </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Spread the word!</span>
              <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
              <!--Google +-->
              <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                data-dismiss="modal">Close</button>

            </div>

          </div>
          <!--/.Content-->

        </div>
      </div>
      <!--Modal: Name-->

      <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/3.JPG" alt="video" data-toggle="modal"
          data-target="#modal18"></a>

    </div>
    <!-- Grid column -->



  </div>
  <!-- Grid row -->


    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-2 col-md-12 mb-4">
  
        <!--Modal: Name-->
        <div class="modal fade" id="modal13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
  
            <!--Content-->
            <div class="modal-content">
  
              <!--Body-->
              <div class="modal-body mb-0 p-0">
  
                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                  <!-- <iframe class="embed-responsive-item" src="/assets/pictures/groups/1.jpg"
                                allowfullscreen></iframe> -->
                  <img class="embed-responsive-item" src="/assets/pictures/groups/02.JPG" alt="" allowfullscreen>
                </div>
  
              </div>
  
              <!--Footer-->
              <div class="modal-footer justify-content-center">
                <span class="mr-4">Spread the word!</span>
                <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
                <!--Twitter-->
                <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
                <!--Google +-->
                <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
                <!--Linkedin-->
                <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>
  
                <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                  data-dismiss="modal">Close</button>
  
              </div>
  
            </div>
            <!--/.Content-->
  
          </div>
        </div>
        <!--Modal: Name-->
  
        <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/02.JPG" alt="video" data-toggle="modal"
            data-target="#modal13"></a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-2 col-md-6 mb-4">
  
        <!--Modal: Name-->
        <div class="modal fade" id="modal14" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
  
            <!--Content-->
            <div class="modal-content">
  
              <!--Body-->
              <div class="modal-body mb-0 p-0">
  
                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                  <img class="embed-responsive-item" src="/assets/pictures/groups/11.JPG" alt="" allowfullscreen>
                </div>
  
              </div>
  
              <!--Footer-->
              <div class="modal-footer justify-content-center">
                <span class="mr-4">Spread the word!</span>
                <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
                <!--Twitter-->
                <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
                <!--Google +-->
                <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
                <!--Linkedin-->
                <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>
  
                <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                  data-dismiss="modal">Close</button>
  
              </div>
  
            </div>
            <!--/.Content-->
  
          </div>
        </div>
        <!--Modal: Name-->
  
        <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/11.JPG" alt="video" data-toggle="modal"
            data-target="#modal14"></a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-2 col-md-6 mb-4">
  
        <!--Modal: Name-->
        <div class="modal fade" id="modal15" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
  
            <!--Content-->
            <div class="modal-content">
  
              <!--Body-->
              <div class="modal-body mb-0 p-0">
  
                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                  <img class="embed-responsive-item" src="/assets/pictures/groups/s1.JPG" alt="" allowfullscreen>
                </div>
  
              </div>
  
              <!--Footer-->
              <div class="modal-footer justify-content-center">
                <span class="mr-4">Spread the word!</span>
                <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
                <!--Twitter-->
                <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
                <!--Google +-->
                <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
                <!--Linkedin-->
                <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>
  
                <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                  data-dismiss="modal">Close</button>
  
              </div>
  
            </div>
            <!--/.Content-->
  
          </div>
        </div>
        <!--Modal: Name-->
  
        <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/s1.JPG" alt="video" data-toggle="modal"
            data-target="#modal15"></a>
  
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-lg-2 col-md-6 mb-4">
  
        <!--Modal: Name-->
        <div class="modal fade" id="modal16" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
  
            <!--Content-->
            <div class="modal-content">
  
              <!--Body-->
              <div class="modal-body mb-0 p-0">
  
                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                  <img class="embed-responsive-item" src="/assets/pictures/groups/s2.JPG" alt="" allowfullscreen>
                </div>
  
              </div>
  
              <!--Footer-->
              <div class="modal-footer justify-content-center">
                <span class="mr-4">Spread the word!</span>
                <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
                <!--Twitter-->
                <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
                <!--Google +-->
                <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
                <!--Linkedin-->
                <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>
  
                <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                  data-dismiss="modal">Close</button>
  
              </div>
  
            </div>
            <!--/.Content-->
  
          </div>
        </div>
        <!--Modal: Name-->
  
        <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/s2.JPG" alt="video" data-toggle="modal"
            data-target="#modal16"></a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-2 col-md-6 mb-4">
  
        <!--Modal: Name-->
        <div class="modal fade" id="modal17" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
  
            <!--Content-->
            <div class="modal-content">
  
              <!--Body-->
              <div class="modal-body mb-0 p-0">
  
                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                  <img class="embed-responsive-item" src="/assets/pictures/groups/s3.JPG" alt="" allowfullscreen>
                </div>
  
              </div>
  
              <!--Footer-->
              <div class="modal-footer justify-content-center">
                <span class="mr-4">Spread the word!</span>
                <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
                <!--Twitter-->
                <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
                <!--Google +-->
                <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
                <!--Linkedin-->
                <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>
  
                <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                  data-dismiss="modal">Close</button>
  
              </div>
  
            </div>
            <!--/.Content-->
  
          </div>
        </div>
        <!--Modal: Name-->
  
        <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/s3.JPG" alt="video" data-toggle="modal"
            data-target="#modal17"></a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-2 col-md-6 mb-4">
  
        <!--Modal: Name-->
        <div class="modal fade" id="modal18" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
  
            <!--Content-->
            <div class="modal-content">
  
              <!--Body-->
              <div class="modal-body mb-0 p-0">
  
                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                  <img class="embed-responsive-item" src="/assets/pictures/groups/3.JPG" alt="" allowfullscreen>
                </div>
  
              </div>
  
              <!--Footer-->
              <div class="modal-footer justify-content-center">
                <span class="mr-4">Spread the word!</span>
                <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
                <!--Twitter-->
                <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
                <!--Google +-->
                <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
                <!--Linkedin-->
                <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>
  
                <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                  data-dismiss="modal">Close</button>
  
              </div>
  
            </div>
            <!--/.Content-->
  
          </div>
        </div>
        <!--Modal: Name-->
  
        <a><img class="img-fluid z-depth-1" src="/assets/pictures/groups/3.JPG" alt="video" data-toggle="modal"
            data-target="#modal18"></a>
  
      </div>
      <!-- Grid column -->
  
  
  
    </div>
    <!-- Grid row -->

</div>