<div class="notice justify-content-center">
    <div class="row justify-content-center">
  
      <div class="section-title">
        <h2>Notice</h2>
        <h3>Our Notice <span>Board</span></h3>
      </div>

    </div>
    <!-- <hr class="divider mx-4"> -->
    <div class="row scroll">

        <div class="card mb-3" style="max-width: 400px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/assets/pictures/ICEP LOGO.jpg" class="card-img" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Administrator Notice</h5>
                        <p class="card-text">For More Enquiries about ICEP visit our offices.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="card mb-3" style="max-width: 400px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/assets/pictures/ICEP LOGO.jpg" class="card-img" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Internship Interview</h5>
                        <p class="card-text">ICEP ensures students are really exposed to technology so for an interview
                        after an invitation to our interview be braced to develop a system and come to present
                       it from github and basically that increases the chances to get succesful interview</p>
                        <p class="card-text"><small class="text-muted">Last updated 5 months ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="card mb-3" style="max-width: 400px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/assets/pictures/ICEP LOGO.jpg" class="card-img" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">AWS Application</h5>
                        <p class="card-text">AWS usually hosts the hackathon competitions which icep 
                            interns knocks themselves out and the winner gets to take hoe a price </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 hours ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="card mb-3" style="max-width: 400px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/assets/pictures/ICEP LOGO.jpg" class="card-img" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Admin</h5>
                        <p class="card-text">This one admits students applications to icep internship,sends interview invitations
                            and gets to view reports of work done by successful interns each day</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="card mb-3" style="max-width: 400px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/assets/pictures/ICEP LOGO.jpg" class="card-img" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">TUT Wilms</h5>
                        <p class="card-text">This platform allows students will coordinators to get 
                            what activities are they doing daily</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>