.notice
{
    padding: 20px 0 20px 0;
    background-color: rgb(144, 144, 144);
    
}
p{
    color: black;
}

.row
{
    display: flex;
}

div.scroll { 
    margin:5px ;
    padding-right:10px; 
    width: 99%; 
    height: 300px; 
    overflow-x: hidden; 
    overflow-x: auto; 
    text-align:justify;
} 

h3
{
    color: white;
}


.card
{
    margin: 13px;
    /* background-color: rgb(144, 144, 144); */
    /* color: white; */   
}
.card:hover
{
    /* background-color: rgb(144, 144, 144);
    color: black; */
    transition: transform 0.4s;
    transform: scale(1.1);
    z-index: 1;
}

/* .card-text
{
    background-color: gainsboro;
    color: white;
} */