.notice
{
    padding: 20px 0 20px 0;
    background-color: rgb(144, 144, 144);
    
}
p{
    color: black;
}

.row
{
    display: flex;
}

div.scroll { 
    /* margin:4px, 4px;  */
    margin:5px ;
    padding-right:10px; 
    /* background-color: green;  */
    width: 99%; 
    height: 150px; 
    overflow-x: hidden; 
    overflow-x: auto; 
    text-align:justify;
    
} 

h3
{
    color: white;
}
.col-sm-4
{
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
}